<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.3.xsd" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">

    <import resource="applicationcontext-jdbc-connector-datasource.xml" />

    <bean id="orderJpaAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="true" />
        <property name="generateDdl" value="true" />
        <property name="databasePlatform" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
    </bean>

    <bean id="orderEntityManagerFactoryBean" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="orderDataSource" />
        <property name="jpaVendorAdapter" ref="orderJpaAdapter" />
        <property name="packagesToScan" value="de.leuphana.shop.ordermicroservice.connector.entity" />

        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.hbm2ddl.auto" value="create-drop" />
                <entry key="hibernate.default_batch_fetch_size" value="25" />
                <entry key="hibernate.jdbc.batch_size" value="25" />
            </map>
        </property>
    </bean>

    <bean id="orderTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="orderEntityManagerFactoryBean" />
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <tx:annotation-driven transaction-manager="orderTransactionManager" />

    <bean id="orderDatabaseConnector" class="de.leuphana.shop.ordermicroservice.connector.OrderDatabaseConnector" />
</beans>